<html>
<head>
  <link rel="stylesheet" href="/styles.css" type="text/css"/>
</head>
  <body id="loginBody">
    <div>
            <div style="text-align:center">
              <div class="header">
              </div>
              <div class="header-container">
                <!-- <iframe src="https://www.youtube.com/watch?v=5NBIYryBE04?autoplay=1">
                </iframe> -->
                <iframe id="video" width="420" height="315" src="https://www.youtube.com/embed/e7YkDjvZhV8?autoplay=1" frameborder="0" allowfullscreen></iframe>
                <div id="hideVid"></div>
              <b><h1 id="title">Host.ly</h1></b>
              <a href="/auth/google" style="text-align:center" class = "link">
              <img src="./assets/btn_google_signin_light_pressed_web@2x.png"></a>
              </div>


              <h2 style="text-align:center">Be a better party planner</h2>
              <h1 style="text-align:center">Bring your friends together</h1>
              <a href="/auth/google" style="text-align:center" class = "link">Log in with Google</a>
              <br></br>
              <br></br>
            </div>

          <div class ="container">
            <div class ="col1">
            Create events
            <br></br>
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/91349-200.png"
            alt=""
            width="50%",
            height="150px",
            style="background-position:center"
            />
            </div>

            <div class ="col2">
            Invite your friends
            <br></br>
            <img src="https://cdn3.iconfinder.com/data/icons/teamwork/355/friends-friendship-partner-team-teamwork-006-512.png"
            alt=""
            width="50%",
            height="150px",
            style="background-position:center"
            />
            </div>

            <div class ="col3">
            Terrify everyone with your pep and pizzaz
            <br></br>
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/826-200.png"
            alt=""
            width="50%",
            height="150px",
            style="background-position:center"
            />
            </div>
          </div>

    </div>
  <body>
</html>
