// COLORS
$color-primary: #55c57a;

$color-secondary-light: #b4dbc0;


$color-tertiary-light: #eae3ea;


$color-grey-light-1: #a7b3a5;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;