// toggle chat button

.showToggleChat {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  height: 25px;
  width: 50%;
  font-family: 'Raleway';
}

.noToggleChat {
  display: none;
  border: 0px;
}

.closeChat {
  width: 90%;
  height: 5vh;
  margin: 0 5%;
}

// chat
.chat {
  border: 2px solid rgb(6, 71, 73);
  background-color: white;
  width: 95%;
  margin: auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

.messages {
  padding-left: 0;
  max-height: 75vh;
  min-height: 75vh;
  overflow-y: scroll;
}

.true {
  height: 90vh;
  transition: height 2s;
  z-index: 1;
}

.false {
  height: 0vh;
  transition: height 2s;
  border: 0px;
}

// messages from current user
.chatGrid {
  list-style: none;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin-top: 2.5%;
  height: 100%;
}

.chatImageGrid {
  justify-self: stretch;
  align-self: start;
  margin: auto;
}

.chatImage {
  padding: 10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chatUsernameGrid {
  align-self: start;
  justify-self: stretch;
  margin: auto;
}

.chatUsernameGrid p {
  margin: 0px;
  padding-top: 15%;
  font-size: 0.8em;
  font-style: italic;
}

.chatMessageGrid p {
  border-radius: 0px 25px 25px 25px;
  padding: 2.5%;
  display: inline-block;
  background-color: $color-secondary-light;
  margin-top: 10px;
  margin-right: 25px;
  font-weight: bold;
}

// messages for other users
.chatGridOther {
  list-style: none;
  text-align: left;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin-top: 2.5%;
}

.chatMessageGridOther {
  justify-self: stretch;
  text-align: right;
}

.chatMessageGridOther p {
  border-radius: 25px 0px 25px 25px;
  padding: 2.5%;
  display: inline-block;
  background-color: $color-primary;
  margin-top: 10px;
  font-weight: bold;
}

// Chat Input
.input {
  height: 10vh;
}

.chatInput {
  width: 90%;
  margin: 0 5%;
  height: 5vh;
}

.chatButton {
  width: 90%;
  margin: 0 5%;
  height: 3.5vh;
  background-color: $color-primary;
}

// Responsive Break Points
@media only screen and (max-width: 768px) {
  .chat {
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;
  }
}
