.spinner img {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  display: none;
}
.create-event-container {
  width: 100vw;
  font-family: 'Comfortaa';
}

.create-event-header {
  width: 50%;
  margin: 0 auto 20px;
  font-weight: bold;
  h1 {
    text-align: center;
  }
}

.create-event-name {
  width: 50%;
  margin: 0 auto;
}

.create-event-name-material {
  width: 100% !important;
  input {
    text-align: center !important;
  }
}

.create-event-dropzone {
  width: 50%;
  margin: 0 auto;
  div {
    width: 100% !important;
    p {
      text-align: center;
      margin: 20% 0 0 0;
    }
  }
}

.create-event-uploadedImage-container {
  width: 50%;
  margin: 0 auto;
}

.create-event-location {
  width: 50%;
  margin: 0 auto;
  div {
    width: 100% !important;
    input {
      text-align: center !important;
    }
  }
}

.create-event-location-material {
  width: 100% !important;
  input {
    text-align: center !important;
  }
}

.create-event-name-input {
  width: 50%;
  margin: 0 auto;
  div {
    width: 100% !important;
    input {
      text-align: center !important;
    }
  }
}

.create-event-name-input-material {
  width: 100% !important;
  label {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  input {
    text-align: center !important;
  }
}

.create-event-email-input {
  width: 50%;
  margin: 0 auto;
}

.create-event-email-input-material {
}

.create-event-contacts-button {
  width: 50%;
  margin: 0 auto;
}

.create-event-date-time-picker {
  width: 50%;
  margin: 0 auto;
}

.create-event-description {
  width: 50%;
  margin: 0 auto;
}

.create-event-item-input {
  width: 50%;
  margin: 0 auto;
}

.create-event-item-list {
  width: 50%;
  margin: 0 auto;
  max-height: 200px;
  overflow-y: scroll;
}

.create-event-submit {
  width: 50%;
  margin: 0 auto;
}
