.container-dashboard {
 display: grid;
 grid-template-columns: 100px repeat(3, 1fr) 100px;
 grid-template-rows: 100px repeat(3, 1fr);
 // grid-column-gap: 10px;
 grid-row-gap: 100px;
}

.container-dashboard-title {
  // grid-column-gap: 1000px;
  grid-row-gap: 250px;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.event-section-dashboard-attending {
  margin-right: 25px;
  // grid-row-gap: 200px;
  // grid-column-gap: 200px;
  grid-column: 2 / 5;
  grid-row:  2 / 3;
  grid-row-gap: 100px;
}

.event-section-dashboard-hosting {
  margin-right: 25px;
  // grid-row-gap: 200px;
  // grid-column-gap: 200px;
  grid-column: 2 / 5;
  grid-row:  3 / 4;
}


.event-section-dashboard-past {
  margin-right: 25px;
  // grid-row-gap: 200px;
  // grid-column-gap: 200px;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.event-grid-buttons-left {
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.event-grid-buttons-right {
  align-self: center;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.event-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // border-left: 5px solid transparent;
  // border-right: 5px solid transparent;
  // border-bottom: 10px solid transparent;
  // column-gap: 200px;
}

.event-list-first {
  margin-right: 25px;
  // grid-column-gap: 200px;
  grid-column: 2 / 3;
  // grid-row:  2 / 3;
}

.event-list-second {
  margin-right: 25px;
  // grid-column-gap: 200px;
  grid-column: 3 / 4;
  // grid-row:  2 / 3;
}

.event-space {
  margin-right: 25px;
}

.event-list-third {
  // margin-right: 25px;
  // grid-column-gap: 200px;
  grid-column: 4 / 5;
  // grid-row:  2 / 3;
}

.dashboard-event-item {
  max-width: 30%;
  height: auto;
  // margin-right: 25px;

  img {
    max-width: 100%
  }
}
