.edit-event {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 70%;
  // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);

  &-grid {
    display: grid;
    height: 30rem;
    width: 80rem;
  }


  &-background-img {
    background-image: 
    linear-gradient(105deg, 
                    rgba($color-primary, .9) 0%,
                    rgba($color-primary, .9) 65%,
                    transparent 50% ),
                    url('https://images.pexels.com/photos/196634/pexels-photo-196634.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: top;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  }

  &-inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding:30px;
    margin: 30px;
    color: $color-tertiary;
    // z-index: 2;

    h1 {
      font-family: 'Comfortaa';
      color: $color-tertiary;
      margin: auto;
    }
  

    .input {
      margin: 15px;
      color: $color-white;
  }
  }

}