.itemList {
  overflow-y: scroll;
  max-height: 75%;
  padding: 0 5%;
  margin: 5% 0;
}

.itemList ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // grid-template-columns: repeat(6, 1fr);

}

.item-claim-shop-svg {
  float: left;
}

.item-claim-claimant {
  font-size: 10px;
}